.home {
  background: linear-gradient(rgba(0, 0, 0, 0.10),rgba(0, 0, 0, 0.10)), url(/hp_1.webp);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  h2 {
    color: var(--gold);
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 100px;
    line-height: 0.5 !important;
    opacity: 0;
    animation: fadeInh2 0.3s ease-out 0.7s forwards;
    &::first-letter {
      font-size: 1.25em;
    }
  }

  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: var(--white);
    line-height: 0.9;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeInh1 0.4s ease-out 0.5s forwards;
    text-align: center;
    padding-left: 4px;
  }

  h5 {
    color: var(--white);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeInh5 0.3s ease-out 1.4s forwards;
  }
}

.separator {
  display: flex;
  align-items: center;
  line-height: 1.6 !important;
  justify-content: center;

  &__left {
    border: 1px solid var(--white);
    opacity: 0;
    animation: separatorLeftRight 0.3s ease-out 1.1s forwards;
    position: relative;

    &::after {
      opacity: 0;
      animation: separatorLeftRightAfter 0.2s ease-out 1.3s forwards;
      content: '';
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 10px solid var(--white);
      border-bottom: 5px solid transparent;
      position: absolute;
      font-size: 0.7rem;
      left: -9px;
      top: -5px;
    }
  }

  &__center {
    color: var(--gold);
    font-size: 0.9rem;
    margin: 0 15px;
    opacity: 0;
    animation: separatorCenter 0.3s ease-out 1.1s forwards;
  }

  &__right {
    border: 1px solid var(--white);
    opacity: 0;
    animation: separatorLeftRight 0.3s ease-out 1.1s forwards;
    position: relative;

    &::before {
      content: '';
      opacity: 0;
      animation: separatorLeftRightAfter 0.2s ease-out 1.3s forwards;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-right: 10px solid var(--white);;
      border-bottom: 5px solid transparent;
      position: absolute;
      font-size: 0.7rem;
      right: -9px;
      top: -5px;
    }
  }
}

.scrollbtn {
  fill: var(--white);
  overflow: hidden;
  position: absolute;
  bottom: -15px;

  &__arrow {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    stroke: var(--grey);
    opacity: .7;
    transition: opacity .2s linear;
    &:hover {
      opacity: 1;
    }
  }
}

.imagesX1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  & div {
    height: 100%;
    width: 100%;
    position: relative;
    max-height: 600px;
    & img {
      object-fit: cover;
    }
  }
}

.imagesX2, .imagesX4 {
  display: grid;
  gap: 10px;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  & div {
    height: 100%;
    position: relative;
    max-height: 600px;
    & img {
      object-fit: cover;
    }
  }
}


@keyframes fadeInh1 {
  0% {
    opacity: 0;
    letter-spacing: 0.6em;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    letter-spacing: 0.2em;
    transform: translateY(0px);
  }
}

@keyframes fadeInh2 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInh5 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes separatorCenter {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes separatorLeftRight {
  0% {
    opacity: 0;
    width: 0px;
  }
  100% {
    opacity: 1;
    width: 150px;
  }
}

@keyframes separatorLeftRightAfter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .article {
    h1 {
      font-size: 2.5rem;
    }
  }

  .separator {
    &__left {
      animation: separatorLeftRight900 0.3s ease-out 1.1s forwards;
    }

    &__right {
      animation: separatorLeftRight900 0.3s ease-out 1.1s forwards;
    }
  }
}

@media (max-width: 768px) {
  .imagesX4 {
    gap: 5px;
  }
  .article {
    h2 {
      font-size: 85px;
    }

    h1 {
      font-size: 2.1rem;
    }

    h5 {
      font-size: 0.9rem;
    }
  }

  .separator {
    &__left {
      animation: separatorLeftRight768 0.3s ease-out 1.1s forwards;
    }

    &__right {
      animation: separatorLeftRight768 0.3s ease-out 1.1s forwards;
    }
  }
}

@media (max-width: 375px) {
  .article {
    h1 {
      font-size: 1.8rem;
    }
    h5 {
      font-size: 0.8rem;
    }
  }
}
@keyframes separatorLeftRight900 {
  0% {
    opacity: 0;
    width: 0px;
  }
  100% {
    opacity: 1;
    width: 120px;
  }
}

@keyframes separatorLeftRight768 {
  0% {
    opacity: 0;
    width: 0px;
  }
  100% {
    opacity: 1;
    width: 100px;
  }
}
