.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3rem 0;

  &__text {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    color: var(--gold);
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 100px;
    line-height: 0.5;
    &::first-letter {
      font-size: 1.25em;
    }
  }

  &__subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: var(--white);
    line-height: 0.9;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}