.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem 0;

  &__text {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    color: var(--gold);
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 100px;
    line-height: 0.5 !important;
    &::first-letter {
      font-size: 1.25em;
    }
  }

  &__subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: var(--white);
    line-height: 0.9;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}

@media (max-width: 768px) {
  .parallax {
    height: 350px;

      &__title {
        font-size: 85px;
      }

      &__subtitle {
        font-size: 2.1rem;
      }
  }
}
@media (max-width: 425px) {
  .parallax {
    height: 300px;
    background-size: 140%;
  }
}
@media (max-width: 375px) {
  .parallax {
    height: 260px;
    background-size: 135%;
  }
}