.header {
  background-color: var(--white);
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  transition: background-color .2s linear;

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__logo {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    width: 160px;
    color: var(--black);
  }
  &__media {
    fill: var(--black);
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: auto;
    vertical-align: middle;
    &:hover svg {
      transition: fill .2s linear;
      fill: var(--gold) !important;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: calc(90% - 160px);

  &__link, &__link_active {
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
    transition: all .2s linear;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      color: var(--gold) !important;
      border-color: var(--gold) !important;
    }
    &_active {
      padding: 4px 0;
      border-bottom: 2px solid var(--black);
    }
  }
}

